/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.error {
  text-align: left;
}

/* Remove margins and padding from the list */
ol {
  margin: 0;
  padding: 0!important;
  list-style: none!important;
  counter-reset: muffins;
}


/* Style the list items */
ol li {
  counter-increment: muffins;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  text-align: left;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol li:before {
  content: counter(muffins) ". " !important;
}

/* Set all odd list items to a different color (zebra-stripes) */
ol li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ol li:hover {
  background: #ddd;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 15px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  height: 47px;
  float: left;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
  color: #ffffff !important;
  background-color: #a12b2b !important;
}